<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title> hAdmin- 主页</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">hAdmin</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">hAdmin
                        </div>
                    </li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li class="nav_list" title="house">
                        <a class="J_menuItem" href="/admin/house">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">房源</span>
                        </a>
                    </li>
                    <li class="nav_list" title="link">
                        <a class="J_menuItem" href="/admin/link">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">友情链接管理</span>
                        </a>
                    </li>
                    <li class="nav_list" title="ad">
                        <a class="J_menuItem" href="/admin/ad">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">广告管理</span>
                        </a>
                    </li>
                    <li class="nav_list" title="broker">
                        <a class="J_menuItem" href="/admin/broker">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">经纪人管理</span>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                        <form role="search" class="navbar-form-custom" method="get" action="?">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="keyword" id="top-search" value="<%=keyword%>">
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
                <!-- <iframe id="J_iframe" width="100%" height="100%" src="index_v1.html?v=4.0" frameborder="0" data-id="index_v1.html" seamless></iframe> -->
                <button type="button" class="btn btn-default" id="btn_add">新建</button>
                <button type="button" class="btn btn-danger" id="btn_del">删除</button>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <%
                      let start = cur_page - (show_page_count -1) / 2;
                      let end = cur_page + (show_page_count -1) / 2;
                      if (start < 1) {
                          start = 1
                      }
                      if (end > page_count) {
                          end = page_count
                      }

                      for(let page=1;page<=page_count;page++) { %>
                            <% if (page == cur_page) { %>
                                <li>
                                    <a href="?page=<%= page %>">[
                                        <%= page %>]</a>
                                </li>
                                <% } else { %>
                                    <li>
                                        <a href="?page=<%= page %>">
                                            <%= page %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% } %>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                    </ul>
                </nav>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="300">
                                <label></label>
                                <input type="checkbox"> ID
                            </th>

                            <% 
                            for(let name in jsonShowName) {
                                if(name == 'ID')continue;
                            %>
                                <th>
                                    <%= jsonShowName[name] %>
                                </th>
                                <% } %>
                                    <!-- <th>均价</th>
                            <th>电话</th> -->
                                    <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(json => { %>
                            <tr>
                                <td>
                                    <label></label>
                                    <input type="checkbox" name="ID_check" value="<%= json.ID %>">
                                    <%= json.ID %>
                                </td>

                                <% 
                                let newJson = JSON.parse(JSON.stringify(json))
                                for(let name in jsonShowName) {
                                    if(name == 'ID')continue;
                                %>
                                    <th>
                                        <%= newJson[name] %>
                                    </th>
                                    <% } %>

                                        <td>
                                            <a onclick="mod_data('<%= json.ID %>')">编辑</a>
                                            <a href="/admin/house/delete?id=<%= json.ID %>" onclick="return confirm('你确定要删除这个房屋信息吗？删除不可撤销')">删除</a>
                                        </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <!--右侧部分结束-->
        <!-- Modal -->
        <div class="modal" id="dialog" style="overflow: auto;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">添加/修改</h4>
                    </div>
                    <div class="modal-body">
                        <form id="data_form" class="form-horizontal" action="?" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="is_mod" value="false" id="is_mod">
                            <input type="hidden" name="old_id" value="" id="old_id">
                            <div id="form-container"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="btn_close">取消</button>
                                <button type="submit" class="btn btn-primary" on>提交</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/layer/layer.min.js"></script>

    <!-- Bootstrap table -->
    <script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <!-- 自定义js -->
    <script src="/js/hAdmin.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/index.js"></script>

    <!-- 第三方插件 -->
    <script src="/js/plugins/pace/pace.min.js"></script>

    <script src="/js/form_data.js"></script>
    <script>
        function mod_data(id) {
            $.ajax({
                url: '/admin/<%=table%>/get_data',
                data: { id },
                dataType: 'json',
                success(json) {
                    oDialog.style.display = 'block'
                    createForm(json)

                    $("#is_mod")[0].value = "true"
                    $("#old_id")[0].value = id
                },
                error() {
                    alert('数据没找到')
                }
            })
        }

        // const $ = document.querySelectorAll.bind(document)

        // let oShadow = $('#shadow')[0]
        let oDialog = $('#dialog')[0]
        let oBtnAdd = $('#btn_add')[0]
        let oBtnClose = $('#btn_close')[0]
        let oBtnCancel = $('#btn_cancel')[0]



        oBtnAdd.onclick = function () {
            // oShadow.style.display = 'block'
            oDialog.style.display = 'block'
            createForm()

            $("#is_mod")[0].value = "false"
        }

        oBtnClose.onclick = function () {
            // oShadow.style.display = 'none';
            oDialog.style.display = 'none';
        }

        const form_inputs = form_datas['<%= table %>']
        let oFormContainer = $('#form-container')[0]
        
        // 生成表单
        function createForm(old_data = {}) {

            oFormContainer.innerHTML = ''

            for (let i = 0; i < form_inputs.length; i++) {
                let data = form_inputs[i]
                let oDiv = document.createElement('div')

                oDiv.className = 'form-group'
                oDiv.innerHTML =
                    `
    <label for="id${i}" class="col-sm-2 control-label">${data.title}</label>
    <div class="col-sm-10">
        <input type="${data.type}" name="${data.name}" ${data.multiple ? 'multiple' : ''} class="form-control" id="id${i}" placeholder="请输入${data.title}..." value="${old_data[data.name] || ''}">
    </div>
    `

                oFormContainer.appendChild(oDiv)

                // 单独处理时间
                if (data.type == 'date') {

                    function toDou(n) {
                        return parseInt(n) >= 10 ? ('' + n) : ('0' + n)
                    }

                    if (old_data[data.name] && old_data[data.name] != '0') {
                        let oDate = new Date(old_data[data.name] * 1000)
                        let input = document.getElementById(`id${i}`);

                        input.value = oDate.getFullYear() + '-' + toDou(oDate.getMonth() + 1) + '-' + toDou(oDate.getDate())
                    }

                }

            }
        }
        
        // 提交之前
        let oForm = $("#data_form")[0]
        oForm.onsubmit = function () {
            form_inputs.forEach(json => {
                if(json.type == 'date') {
                    let oInput = document.getElementsByName(json.name)[0]
                    let time = Math.floor(new Date(oInput.value).getTime()/1000)

                    let oNewInput = document.createElement('input');
                    oNewInput.type = 'hidden';

                    oNewInput.name = json.name
                    oInput.name = '';

                    oNewInput.value = time

                    oFormContainer.appendChild(oNewInput)
                }
            })
        }

        // 删除
        let oBtnDelBat = $('#btn_del')[0]
        let aCheck = Array.from(document.getElementsByName('ID_check'))

        oBtnDelBat.onclick = function () {
            let arr = []

            aCheck.forEach(ch => {
                if (ch.checked) {
                    arr.push(ch.value)
                }
            })

            if (arr.length == 0) {
                alert('请选择要删除的东西')
            } else {
                let url = `/admin/house/delete?id=${encodeURIComponent(arr.join(','))}`
                if (confirm(`您真的要删除这${arr.length}数据吗？`)) {
                    window.location = url
                }
            }



        }
        
        // 左侧导航栏
        let oNav = $(".nav_list")
        Array.from(oNav).forEach(li => {
            if(li.title == '<%= table %>') {
                li.classList.add("active");
            }
        })

    </script>

</body>

</html>