<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title> hAdmin- 主页</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">hAdmin</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">hAdmin
                        </div>
                    </li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li>
                        <a class="J_menuItem">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa fa-bar-chart-o"></i>
                            <span class="nav-label">统计图表</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="graph_echarts.html">百度ECharts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li>
                        <a href="mailbox.html">
                            <i class="fa fa-envelope"></i>
                            <span class="nav-label">信箱 </span>
                            <span class="label label-warning pull-right">16</span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="mailbox.html">收件箱</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span class="nav-label">表单</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="form_basic.html">基本表单</a>
                            </li>
                            <li>
                                <a href="#">文件上传
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="form_webuploader.html">百度WebUploader</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="form_file_upload.html">DropzoneJS</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">编辑器
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="form_editors.html">富文本编辑器</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="J_menuItem" href="layerdate.html">日期选择器layerDate</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-desktop"></i>
                            <span class="nav-label">页面</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="contacts.html">联系人</a>
                            </li>
                            <li>
                                <a href="#">项目管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="projects.html">项目</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="project_detail.html">项目详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">博客
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="blog.html">文章列表</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="article.html">文章详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="J_menuItem" href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="#">时间轴
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="timeline.html">时间轴</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="timeline_v2.html">时间轴v2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="J_menuItem" href="pin_board.html">标签墙</a>
                            </li>
                            <li>
                                <a href="#">单据
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="invoice.html">单据</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="invoice_print.html">单据打印</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="J_menuItem" href="search_results.html">搜索结果</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="forum_main.html">论坛</a>
                            </li>
                            <li>
                                <a href="#">即时通讯
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="chat_view.html">聊天窗口</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">登录注册相关
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="login.html" target="_blank">登录页面</a>
                                    </li>
                                    <li>
                                        <a href="login_v2.html" target="_blank">登录页面v2</a>
                                    </li>
                                    <li>
                                        <a href="register.html" target="_blank">注册页面</a>
                                    </li>
                                    <li>
                                        <a href="lockscreen.html" target="_blank">登录超时</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="J_menuItem" href="404.html">404页面</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="500.html">500页面</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="empty_page.html">空白页</a>
                            </li>
                        </ul>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-flask"></i>
                            <span class="nav-label">UI元素</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="typography.html">排版</a>
                            </li>
                            <li>
                                <a href="#">字体图标
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="fontawesome.html">Font Awesome</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="glyphicons.html">Glyphicon</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="iconfont.html">阿里巴巴矢量图标库</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">拖动排序
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="draggable_panels.html">拖动面板</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="agile_board.html">任务清单</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="J_menuItem" href="buttons.html">按钮</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="tabs_panels.html">选项卡 &amp; 面板</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="notifications.html">通知 &amp; 提示</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="badges_labels.html">徽章，标签，进度条</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="grid_options.html">栅格</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="plyr.html">视频、音频</a>
                            </li>
                            <li>
                                <a href="#">弹框插件
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="layer.html">Web弹层组件layer</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="modal_window.html">模态窗口</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="sweetalert.html">SweetAlert</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">树形视图
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a class="J_menuItem" href="jstree.html">jsTree</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="tree_view.html">Bootstrap Tree View</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="nestable_list.html">nestable</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="J_menuItem" href="toastr_notifications.html">Toastr通知</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="diff.html">文本对比</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="spinners.html">加载动画</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="widgets.html">小部件</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-table"></i>
                            <span class="nav-label">表格</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="table_basic.html">基本表格</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="table_data_tables.html">DataTables</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="table_jqgrid.html">jqGrid</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="table_foo_table.html">Foo Tables</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="table_bootstrap.html">Bootstrap Table
                                    <span class="label label-danger pull-right">推荐</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-picture-o"></i>
                            <span class="nav-label">相册</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="basic_gallery.html">基本图库</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="carousel.html">图片切换</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="blueimp.html">Blueimp相册</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="J_menuItem" href="css_animation.html">
                            <i class="fa fa-magic"></i>
                            <span class="nav-label">CSS动画</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <span class="nav-label">工具 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="form_builder.html">表单构建器</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                        <form role="search" class="navbar-form-custom" method="get" action="?">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="keyword" id="top-search" value="<%=keyword%>">
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
                <!-- <iframe id="J_iframe" width="100%" height="100%" src="index_v1.html?v=4.0" frameborder="0" data-id="index_v1.html" seamless></iframe> -->
                <button type="button" class="btn btn-default" id="btn_add">新建</button>
                <button type="button" class="btn btn-danger" id="btn_del">删除</button>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <%
                      let start = cur_page - (show_page_count -1) / 2;
                      let end = cur_page + (show_page_count -1) / 2;
                      if (start < 1) {
                          start = 1
                      }
                      if (end > page_count) {
                          end = page_count
                      }

                      for(let page=1;page<=page_count;page++) { %>
                            <% if (page == cur_page) { %>
                                <li>
                                    <a href="?page=<%= page %>">[
                                        <%= page %>]</a>
                                </li>
                                <% } else { %>
                                    <li>
                                        <a href="?page=<%= page %>">
                                            <%= page %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% } %>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                    </ul>
                </nav>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="300">
                                <label></label>
                                <input type="checkbox"> ID
                            </th>

                            <% 
                            for(let name in jsonShowName) {
                                if(name == 'ID')continue;
                            %>
                            <th><%= jsonShowName[name] %></th>
                            <% } %>
                            <!-- <th>均价</th>
                            <th>电话</th> -->
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(json => { %>
                            <tr>
                                <td>
                                    <label></label>
                                    <input type="checkbox" name="ID_check" value="<%= json.ID %>">
                                    <%= json.ID %>
                                </td>

                                <% 
                                for(name in jsonShowName) { 
                                    if(name == 'ID')continue;
                                %>
                                <td> <%= json %> <%= name %> <%= json[name] %> </td>
                                <% } %>
                                <!-- <td>
                                    <%= json.ave_price %>
                                </td>
                                <td>
                                    <%= json.tel %>
                                </td> -->
                                <td>
                                    <a onclick="mod_data('<%= json.ID %>')">编辑</a>
                                    <a href="/admin/house/delete?id=<%= json.ID %>" onclick="return confirm('你确定要删除这个房屋信息吗？删除不可撤销')">删除</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <!--右侧部分结束-->
        <!-- Modal -->
        <div class="modal" id="dialog" style="overflow: auto;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">添加/修改</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="?" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="is_mod" value="false" id="is_mod">
                            <input type="hidden" name="old_id" value="" id="old_id">
                            <div id="form-container"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="btn_close">Close</button>
                                <button type="submit" class="btn btn-primary" on>Save changes</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/layer/layer.min.js"></script>

    <!-- Bootstrap table -->
    <script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <!-- 自定义js -->
    <script src="/js/hAdmin.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/index.js"></script>

    <!-- 第三方插件 -->
    <script src="/js/plugins/pace/pace.min.js"></script>

    <script>
        function mod_data(id) {
            $.ajax({
                url: '/admin/house/get_data',
                data: { id },
                dataType: 'json',
                success(json) {
                    oDialog.style.display = 'block'
                    createForm(json)

                    $("#is_mod")[0].value = "true"
                    $("#old_id")[0].value = id
                },
                error() {
                    alert('数据没找到')
                }
            })
        }

        // const $ = document.querySelectorAll.bind(document)

        // let oShadow = $('#shadow')[0]
        let oDialog = $('#dialog')[0]
        let oBtnAdd = $('#btn_add')[0]
        let oBtnClose = $('#btn_close')[0]
        let oBtnCancel = $('#btn_cancel')[0]



        oBtnAdd.onclick = function () {
            // oShadow.style.display = 'block'
            oDialog.style.display = 'block'
            createForm()

            $("#is_mod")[0].value = "false"
        }

        oBtnClose.onclick = function () {
            // oShadow.style.display = 'none';
            oDialog.style.display = 'none';
        }

        function createForm(old_data = {}) {
            // 动态生成表单
            let oFormContainer = $('#form-container')[0]
            oFormContainer.innerHTML = '';

            const form_inputs = [
                { type: 'text', name: 'title', title: '标题' },
                { type: 'text', name: 'sub_title', title: '副标题' },
                { type: 'text', name: 'postion_main', title: '主位置' },
                { type: 'text', name: 'postion_secound', title: '副位置' },
                { type: 'number', name: 'ave_price', title: '均价' },
                { type: 'number', name: 'area_min', title: '最小面积' },
                { type: 'number', name: 'area_max', title: '最大面积' },
                { type: 'tel', name: 'tel', title: '电话' },
                { type: 'date', name: 'sale_time', title: '开盘日期' },
                { type: 'date', name: 'submit_time', title: '交房日期' },
                { type: 'text', name: 'building_type', title: '建筑类型' },
                { type: 'file', name: 'main_img', title: '大图' },
                { type: 'file', name: 'img', title: '小图(多选)', multiple: true },
                { type: 'text', name: 'property_types', title: '户型' },
                { type: 'file', name: 'property_img', title: '户型图' }
            ]

            oFormContainer.innerHTML = ''

            for (let i = 0; i < form_inputs.length; i++) {
                let data = form_inputs[i]
                let oDiv = document.createElement('div')

                oDiv.className = 'form-group'
                oDiv.innerHTML =
                    `
    <label for="id${i}" class="col-sm-2 control-label">${data.title}</label>
    <div class="col-sm-10">
        <input type="${data.type}" name="${data.name}" ${data.multiple ? 'multiple' : ''} class="form-control" id="id${i}" placeholder="请输入${data.title}..." value="${old_data[data.name] || ''}">
    </div>
    `

                oFormContainer.appendChild(oDiv)

                // 单独处理时间
                if (data.type == 'date') {

                    function toDou(n) {
                        return parseInt(n) >= 10 ? ('' + n) : ('0' + n)
                    }

                    if (old_data[data.name] && old_data[data.name] != '0') {
                        let oDate = new Date(old_data[data.name] * 1000)
                        let input = document.getElementById(`id${i}`);
                        
                        input.value = oDate.getFullYear() + '-' + toDou(oDate.getMonth() + 1) + '-' + toDou(oDate.getDate())
                    }

                }

            }
        }
        

        // 删除
        let oBtnDelBat = $('#btn_del')[0]
        let aCheck = Array.from(document.getElementsByName('ID_check'))

        oBtnDelBat.onclick = function () {
            let arr = []

            aCheck.forEach(ch => {
                if (ch.checked) {
                    arr.push(ch.value)
                }
            })

            if (arr.length == 0) {
                alert('请选择要删除的东西')
            } else {
                let url = `/admin/house/delete?id=${encodeURIComponent(arr.join(','))}`
                if (confirm(`您真的要删除这${arr.length}数据吗？`)) {
                    window.location = url
                }
            }



        }

    </script>

</body>

</html>