<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%= data %>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>ID</th>
              <th>标题</th>
              <th>均价</th>
              <th>电话</th>
              <th>操作</th>
          </tr>
      </thead>
      <!-- <tbody>
          <%= data.forEach(json => { %>
          <tr>
              <td><%= json.id %></td>
              <td><%= json.title %></td>
              <td><%= json.ave_price %></td>
              <td><%= json.tel %></td>
              <td><a>编辑</a><a>删除</a></td>
          </tr>
          <% }); %>
      </tbody> -->
  </table>
</body>
</html>